
$bgColor:#f1935c;
$labelColor:#f1935c;
$labelGreyColor: #666;
$whiteLable: #fff;
$blackLable: #000;
$fontStack:'SourceSansPro', Arial, verdana, times new roman;
$boldStack: 500;
$firstBorder: 1px solid #f1935c;
$greyLightBorder: 1px solid #ccc;
$borderRadius: 15px;
$themeTextColor: #f1935c;