.btn-home-page {
    text-transform: uppercase;
    background-color: #fdcb6e;
  border-radius: 10rem;
    margin-top: 1em;
    color: white;
    letter-spacing: 0.1rem;
}
.page {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}